
  <div id="sidebar-footer" class="footer-widgets footer" role="complementary">
     <div class="container">
        <div class="sidebar-column col-md-6">
        </div>
        <div class="sidebar-column col-md-6">
           <aside id="sow-editor-2" class="widget widget_sow-editor">
              <div class="so-widget-sow-editor so-widget-sow-editor-base">
                 <div class="siteorigin-widget-tinymce textwidget" style="margin-right: -40vw;">
                    <div class="titee"><a href="/about">About Us</a></div>
                    <div class="titee"><a href="/termsofuse">Terms Of Use</a></div>
                    <div class="titee"><a href="/privacy">Privacy Policy</a></div>
                    <div class="titee"><a href="/refund-policy">Refund Policy</a></div>
                    <div class="titee"><a href="/enquiry">Contact Us</a></div>
                    <div></div>
                    <div class="share-links default-skin">
                       <ul>
                          <li><a class="share-facebook" title="Facebook" href="https://www.facebook.com/livigro/" target="_blank" rel="nofollow noopener"><img class="alignnone size-full wp-image-976" src="assets/images/fb.png" alt="" /></a></li>
                          <li><a class="share-linkedin" title="Linkedin" href="https://www.linkedin.com/company/livigro/" target="_blank" rel="nofollow noopener"><img class="alignnone size-medium wp-image-977" src="assets/images/in.png" alt="" /></a></li>
                          <li><a class="share-instagram" title="Instagram" href="https://www.instagram.com/livigro/" target="_blank" rel="nofollow noopener"><img class="alignnone size-full wp-image-978" src="assets/images/int.png" alt="" /></a></li>
                       </ul>
                    </div>
                 </div>
              </div>
           </aside>
        </div>
     </div>
  </div>
  <footer id="colophon" class="site-footer" role="contentinfo">
     <div class="site-info container">
        <p class="foot_title">Made in India with <img src="assets/images/heart.png" /></p>
        <p class="foot_title1">A unique product of <a href="https://www.belongcare.com/">Belongcare Meditech Pvt. Ltd</a>. © 2017 - All Rights Reserved.</p>
     </div>
  </footer>