
<div class="row">
  <div class="col-md-6 d-flex align-items-stretch grid-margin" style="margin-left:20vw;margin-top:5vw;">
    <div class="row flex-grow">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            
            <div class="alert alert-fill-success" role="alert"><i class="mdi mdi-alert-circle"></i> 
              Well done! You successfully Registered to Livigro</div>
              <button type="submit" class="btn btn-success mr-2" style="margin-left: 13vw" routerLink="/login">Login</button>

          </div>
        </div>
      </div>
      
</div>
