<div class="col-md-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title" style="text-align:center;font-size:larger"><b>Package Name</b></h4>
      <div class="template-demo">
        <button type="button" class="btn btn-success btn-fw" style="float:right" >Book Now</button>
      </div>
      <p class="card-description"><b>$ 365</b></p>
      <p class="card-description">Parameters Covered : <span>10</span></p>
      <ul class="list-star">
        <li class="card-description">Blood</li>
        <li class="card-description">Urine</li>
        <li class="card-description">Insulin</li>
        <li class="card-description">Blood</li>
        <li class="card-description">Urine</li>
        <li class="card-description">Insulin</li>
        <li class="card-description">Blood</li>
        <li class="card-description">Urine</li>
        <li class="card-description">Insulin</li>
      </ul>
      <p class="card-description"><i class="fa fa-cutlery" aria-hidden="true"></i> 3 hrs fasting required</p>
      

    </div>
  </div>
</div>