<app-navbar></app-navbar>
<div class="col-md-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title" style="text-align:center;font-size:larger"><b>{{packageInfo.packageName}}</b></h4>
      <div class="template-demo">
        <button type="button" class="btn btn-success btn-fw" style="float:right" (click)="bookPackage(packageInfo)" >Book Now</button>
      </div>
      <p class="card-description"><b>$ {{packageInfo.price}}</b></p>
      <p class="card-description">Parameters Covered : <span>{{packageInfo.tests.length}}</span></p>
      <ul class="list-star" *ngFor="let test of packageInfo.tests">
        <li class="card-description">{{test.testId.testName}}</li>
      </ul>
      <p class="card-description"><i class="fa fa-cutlery" aria-hidden="true"></i> {{packageInfo.fasting}} hrs fasting required</p>
      

    </div>
  </div>
</div>