
 <div class="w3-light-grey">
  
  
  <div class="w3-content w3-margin-top" style="max-width:1400px;">
  
  
    <div class="w3-row-padding">
    
  
  
  
      <div class="w3-twothird" style="margin-left: 16vw;">
      
  
  
        <div class="w3-container w3-card w3-white">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Health Package</h2>
              <h2 class="w3-text-grey w3-padding-16" style="float:right">Limited Time Offer : 1999</h2>
            <button style="float:right;height: 50px;border-radius: 23px;margin-top: 7vw;margin-right: -16vw;color: white;background-color: #dd3f7e;">Book Now</button>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Parameters included</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>76</h6>
           
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Reporting Time 
  </b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>24 Hours</h6>
            
            <hr>
          </div>
          <div class="w3-container">
            <h5 class="w3-opacity"><b>Fasting Time</b></h5>
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>10 Hours</h6>
          
          </div>
        </div>
      <br>
        <div class="w3-container w3-card w3-white">
          <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Parameters</h2>
          <div class="w3-container">
  
            <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Parameter 1</h6>
        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Parameter 2</h6>
        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Parameter 3</h6>
        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Parameter 4</h6>
        <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Parameter 5</h6>
            
            <hr>
          </div>
  
  
        </div>
      </div>
      
  
    </div>
    
  
  </div>
  
 </div>