<app-navbar></app-navbar>


<div class="modal" [ngStyle]="{'display':display}" >
    <div class="modal-content">
      <div class="modal-header">
          <h6>Payment Successfully</h6>
        <span class="close" (click)="closeModalDialog()">&times;</span>
        
      </div>
    </div>
  </div>

      <!-- Start Home Page Slider -->
	  <section id="page-top">
			<!-- Carousel -->
			<div id="main-slide" class="carousel slide" data-ride="carousel">
	
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#main-slide" data-slide-to="0" class="active"></li>
					<li data-target="#main-slide" data-slide-to="1"></li>
					<li data-target="#main-slide" data-slide-to="2"></li>
				</ol>
				<!--/ Indicators end-->
	
				<!-- Carousel inner -->
				<div class="carousel-inner">
									<div class="item active">
						<img class="img-responsive"  src="assets/images/banner.png" style="height:100%" alt="slider">
						
						<div class="slider-content">
							<div class="col-md-12 text-center">
								<h1 class="animated1">
								  <span>Welcome to <strong>Livigro</strong></span>
								</h1>
								<p class="animated2">India’s Largest Diagnostics Company</p>
						
								<div class="col-md-6">
									<div class="form-group">
									
										<input type="text" style="margin-left:21vw" class="form-control" #term  autocomplete="off" placeholder="Find your Packages/Test"  required="" >
						  
									</div>
	
								</div>

									<div id="success"></div>
									<button type="submit" (click)="search(term.value)" class="btn btn-primary">Search</button>
							
							</div>
						</div>
					</div>
					<!--/ Carousel item end -->
					
					<div class="item">
						<img class="img-responsive" src="assets/images/banner.png" style="height:100%" alt="slider">
						
						<div class="slider-content">
							<div class="col-md-12 text-center">
								<h1 class="animated1">
								  <span>Welcome to <strong>Livigro</strong></span>
								</h1>
								<p class="animated2">India’s Largest Diagnostics Company</p>
						
								<div class="col-md-6">
									<div class="form-group">
									
										<input type="text" style="margin-left:21vw" class="form-control" #termtwo  autocomplete="off" placeholder="Find your Packages/Test" required="" >
						  
									</div>
	
								</div>
									<div id="success"></div>
									<button type="submit" (click)="search(termtwo.value)" class="btn btn-primary">Search</button>
							
							</div>
						</div>
					</div>
					<!--/ Carousel item end -->
					
									<div class="item">
						<img class="img-responsive" src="assets/images/banner.png" style="height:100%" alt="slider">
						
						<div class="slider-content">
							<div class="col-md-12 text-center">
								<h1 class="animated1">
								  <span>Welcome to <strong>Livigro</strong></span>
								</h1>
								<p class="animated2">India’s Largest Diagnostics Company</p>
			
								<div class="col-md-6">
									<div class="form-group">
									
										<input type="text" style="margin-left:21vw" class="form-control" #termone  autocomplete="off" placeholder="Find your Packages/Test"  required="" >
						  
									</div>
	
								</div>
									<div id="success"></div>
									<button type="submit" (click)="search(termone.value)" class="btn btn-primary">Search</button>
							
							</div>
						</div>
					</div>
					<!--/ Carousel item end -->
				</div>
				<!-- Carousel inner end-->
	
				<!-- Controls -->
				<a class="left carousel-control" href="#main-slide" data-slide="prev">
					<span><i class="fa fa-angle-left"></i></span>
				</a>
				<a class="right carousel-control" href="#main-slide" data-slide="next">
					<span><i class="fa fa-angle-right"></i></span>
				</a>
			</div>
			<!-- /carousel -->
		</section>
		<!-- End Home Page Slider -->

		<div class="container">
				<h3 class="h3">Popular Packages</h3>
				<div class="row">
					<div class="col-md-3 col-sm-6" *ngFor="let package of packages">
						<div class="product-grid">
							<div class="product-image">
								<a >
									<img class="pic-1" src="assets/package/logo.png">
									<img class="pic-2" src="assets/package/logo.png">
								</a>
								<ul class="social">
									<li><a (click)="viewPackage(package)" data-tip="Quick View"><i class="fa fa-search"></i></a></li>
								</ul>
							</div>
							<ul class="rating">
								<li class="fa fa-star"></li>
								<li class="fa fa-star"></li>
								<li class="fa fa-star"></li>
								<li class="fa fa-star"></li>
								<li class="fa fa-star disable"></li>
							</ul>
							<div class="product-content">
								<h3 class="title">{{package.packageName}}</h3>
								<div class="price">₹ {{package.price}}
					
								</div>
								<a class="add-to-cart" (click)="viewPackage(package)">Buy</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		


	

  


<ngx-spinner
bdColor = "rgba(51, 51, 51, 0.8)"
size = "large"
color = "#fff"
type = "ball-clip-rotate-multiple"
></ngx-spinner>
