<app-navbar></app-navbar>
<div class="wrap cf">
    <h1 class="projTitle">Livigro Purchase</h1>
    <div class="cart">
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" #name id="exampleInputEmail1" value="{{userDetail.name}}" placeholder="Enter Name" required>
            <label for="exampleInputEmail1">Mobile Number</label>
            <input type="number" class="form-control" #mobile id="exampleInputEmail1" value="{{userDetail.mobile}}" minlength="10" maxlength="10" placeholder="Enter Mobile Number" required>
            <label for="exampleInputEmail1">Residential Address</label>
            <input type="text" class="form-control" #address id="exampleInputEmail1" value="{{userDetail.door}}, {{userDetail.street}}, {{userDetail.city}} - {{userDetail.postcode}}" placeholder="Enter Residential Address" required>
          </div>
      <ul class="cartWrap">
        <li class="items odd">
          
      <div class="infoWrap"> 
          <div class="cartSection">
            <h3>{{packageBook.packageName}}</h3>  
          </div>  
          <div class="prodTotal cartSection">
            <p>₹{{packageBook.price}}</p>
          </div>
        </div>
        </li>
      </ul>
    </div>

    <div class="subtotal cf">
      <ul style="list-style-type: none;">
        <li class="totalRow"><span class="label">Subtotal</span><span class="value">₹{{packageBook.price}}</span></li>
        
              <li class="totalRow"><span class="label">Tax</span><span class="value">₹0.00</span></li>
              <li class="totalRow final"><span class="label">Total</span><span class="value">₹{{packageBook.price}}</span></li>
        <li class="totalRow"><a  class="btn continue" id="rzp-button1" (click)="initPay(packageBook,name.value,mobile.value,address.value);">Checkout</a></li>
      </ul>
    </div>
  </div>
  <ngx-spinner
  bdColor = "rgba(51, 51, 51, 0.8)"
  size = "large"
  color = "#fff"
  type = "ball-clip-rotate-multiple"
  ></ngx-spinner>
