
<div class="row">
  <div class="col-md-12 d-flex align-items-stretch grid-margin">
    <div class="row flex-grow">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Search Package</h4>
            <form class="forms-sample">
              <div class="form-group">
                <div ngbDropdown class="d-inline-block" style="display:inline">
            <button class="btn btn-secondary" type="button" id="dropdownMenuButton2" ngbDropdownToggle>
              Madurai
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownMenuButton2">
              <a class="dropdown-item" href="#">Madurai</a>
            </div>
          </div>
                <input type="text" class="form-control" style="display:inline" style="width:87%;float:right" id="exampleInputEmail1" placeholder="Enter the Package Name">
              </div>
              <button type="submit" class="btn btn-success mr-2">Search</button>
              
            </form>
          </div>
        </div>
      </div>

      
      <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><b>Package Name</b></h4>
          <p class="card-description"><b>$ 365</b>b></p>
          <p class="card-description">Parameters Covered : <span>10</span></p>
          <ul class="list-star">
            <li class="card-description">Blood</li>
            <li class="card-description">Urine</li>
            <li class="card-description">Insulin</li>
          </ul>
          <p class="card-description">+3 more</p>
          <p class="card-description"><i class="fa fa-cutlery" aria-hidden="true"></i> 3 hrs fasting required</p>
          
          <div class="template-demo">
            <button type="button" class="btn btn-success btn-fw">Book</button>
          </div>
        </div>
      </div>
    </div>
      
</div>
