
<div class="row">
  <div class="col-md-6 d-flex align-items-stretch grid-margin" style="margin-left:20vw;margin-top:5vw;">
    <div class="row flex-grow">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Register</h4>
            
            <form class="forms-sample">
              <div class="form-group">
                <label for="exampleInputEmail1">Mobile Number</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter Mobile Number">
              </div>
              <button type="submit" class="btn btn-success mr-2">Register</button>
              
            </form>
          </div>
        </div>
      </div>
      
</div>
